<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
 <head>
	 <title>Entonomachia</title>
	 <link rel="stylesheet" th:href="@{/styles/mainStyle.css}" />
	 <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon_io/apple-touch-icon.png">
	 <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_io/favicon-32x32.png">
	 <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_io/favicon-16x16.png">
	 <link rel="manifest" href="/site.webmanifest">
 </head>
 <body>
	<div id="entoHeader">
 		<h1>Welcome to pippo</h1>
 		<img id="logoImage" th:src="@{/images/entonomachia_logo.png}"/>
	</div>
 </body>
</html>
